<form class="ui segment form" action="/configuration/addsetting/{{configuration.id}}" method="POST">
  <div class="one field">
    <div class="field">
      <label>Amazon email</label>
      <input placeholder="email@example.com" type="email" name="amemail" minlength="1" required="required">
    </div>
    <div class="field">
      <label>Amazon password</label>
      <input placeholder="password" type="password" name="ampassword" minlength="1" required="required" />
  </div>
  <div class="one field">
    <div class="field">
      <label>Your name (for playback)</label>
      <input placeholder="name" type="text" name="name" minlength="1" required="required" />
    </div>
    <div class="field">
      <label>Trigger Start Time ( from when you wish playback to occur )</label>
      <input type="time" name="starttime" required="required" />
    </div>
    <div class="field">
      <label>Trigger End Time ( from when you wish playback to stop ) </label>
      <input type="time" name="endtime" required="required" />
    </div>
  </div>
  <div class="field"
    <label>Playback Information</label>
    <select class="ui fluid searchdropdown" name="info">
      <option value="">Select</option>
      <option value="rain">Rain Forecast</option>
      <option value="wind">Wind Forecast</option>
      <option value="calendar">Calendar</option>
    </select>
  </div>
  <button class="ui blue submit button">Save Configuration Settings</button>
</form>