<form class="ui segment form" action="/configuration/addsetting/{{configuration.id}}" method="POST">
  <h3 class="ui header">Playback Settings</h3>
  <div class="ui divider"></div>
  <div class="one field">
    <div class="field">
      <label>Amazon email</label>
      <input placeholder="email@example.com" type="email" name="amemail" minlength="1" required="required">
    </div>
    <div class="field">
      <label>Amazon password</label>
      <input placeholder="password" type="text" name="ampassword" minlength="1" required="required" />
  </div>
  <div class="one field">
    <div class="field">
      <label>Your name (for playback)</label>
      <input placeholder="name" type="text" name="name" minlength="1" required="required" />
    </div>
    <div class="field">
      <label>Trigger Start Time ( from when you wish playback to occur )</label>
      <input type="time" name="starttime" required="required" />
    </div>
    <div class="field">
      <label>Trigger End Time ( from when you wish playback to stop ) </label>
      <input type="time" name="endtime" required="required" />
    </div>
  </div>
  <h3 class="ui header">Playback Information</h3>
    <div class="ui divider"></div>
    <div class="one field">
      <div class="field"
        <label>Custom Text Playback</label>
        <input placeholder="" type="text" name="customtext" minlength="1"/>
      </div>
      <div class="field"
        <label>Weather Information</label>
        <select class="ui fluid searchdropdown" name="weatherinfo">
          <option value="">Select</option>
          <option value="rain">Rain Forecast</option>
          <option value="wind">Wind Forecast</option>
          <option value="rainandwind">Rain and Wind</option>
          <option value="generalforecast">General Forecast</option>
          <option value="none">None</option>
        </select>
      </div>
      <div class="field"
      <label>Calendar Information</label>
      <select class="ui fluid searchdropdown" name="calendarinfo">
        <option value="">Select</option>
        <option value="calendar">Calendar</option>
        <option value="none">None</option>
      </select>
      </div>
      <div class="field"
      <label>Other Information</label>
      <select class="ui fluid searchdropdown" name="otherinfo">
        <option value="">Select</option>
        <option value="news">News</option>
        <option value="none">None</option>
      </select>
      </div>
    </div>
  <button class="ui blue submit button">Save Configuration Settings</button>
</form>