{{> menu id="about"}}

<header class="ui centered container">
  <br/>
  <h1 class="ui center aligned header">Quickstart guide</h1>
</header>
<div class="ui very relaxed divided items">
  <div class="item ui raised segment">
    <div class="ui large image">
      <img src="https://rainy-stump-sesame.glitch.me/images/weathertop-1000.png">
    </div>
    <div class="ui very padded text container segment">
      <a class="ui header " href="/dashboard">Your pi-pir device</a>
      <div class="description">
        <br/>
        <p>The pi-pir device is built using the finest components, based on the raspberry-pi ecosystem, 
          consisting of a Raspberry Pi, Lego and the main sensors used are are a compatible PIR</p>
      </div>
    </div>
  </div>
  <br/>
  <div class="item ui raised segment">
    <div class="ui large image">
      <img src="https://rainy-stump-sesame.glitch.me/images/dashboard.png">
    </div>
    <div class="ui very padded text container segment">
      <a class="ui header" href="/dashboard">Position your pi-pir device</a>
      <div class="description">
        <br/>
        <p>Position the device somewhere where you pass in the morning, and within hearing distance to your amazon
          Alexa device. The device comes with included wall mounting components if required</p>
      </div>
    </div>
  </div>
  <br/>
  <div class="item ui raised segment">
    <div class="ui large image">
      <img src="https://rainy-stump-sesame.glitch.me/images/station.png">
    </div>
    <div class="ui very padded text container segment">
      <a class="ui header" href="/dashboard">How it works</a>
      <div class="description">
        <br/>
        <p>As you pass the device, the PIR will sense your movement and trigger a present response from your 
          Alexa device. Your Alexa device will playback this information as if sensing you have entered the room.
        </p>
      </div>
    </div>
  </div>
  <br/>
  <div class="item ui raised segment">
    <div class="ui large image">
      <img src="https://rainy-stump-sesame.glitch.me/images/trends.png">
    </div>
    <div class="ui very padded text container segment">
      <a class="ui header" href="/dashboard">Configuration</a>
      <div class="description">
        <br/>
        <p>To set up configuration for integration with your Alexa device, and customise information, schedules and responses
          please visit www.testsite.com and create an account. Once your account is created, you can add various configurations.
        </p>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui center aligned header">
      <br/>
      <br/>
      <p>The Good Morning Project</p>
      <br/>
      <br/>
    </div>
  </footer>
</div>

