{{#if user}}
  {{> menu id="home"}}
{{else}}
  {{> welcomemenu id="home"}}
{{/if}}
<section class="ui center aligned middle aligned segment">
  <br/>
  <header>
    <span class="ui header add-shadow">
      <h1>the good morning project</h1>
    </span>
    <br/>
    <span class="ui text">
      <p> - information to start your day -</p>
    </span>
    <br/>
  </header>
  <div class="ui divider"></div>
  <br/>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="images/morningfix.jpg">
      </div>
    </div>
    <br/>
  </div>
  <br/>
  <br/>
  <br/>
</section>

